In [1]:
import pandas as pd

# Load the cleaned merged data
df = pd.read_csv("full_cleaned_merged.csv")

# Show the first 5 rows
df.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [3]:
# Split into features (X) and target (y)
X = df.drop("Diabetes_binary", axis=1)
y = df["Diabetes_binary"]

# Check shapes just to confirm
print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (578052, 21)
y shape: (578052,)

In [5]:
from sklearn.model_selection import train_test_split

# Split the data: 70% for training, 30% for testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Check shapes to make sure it worked
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (404636, 21)
X_test shape: (173416, 21)
y_train shape: (404636,)
y_test shape: (173416,)

In [9]:
# Check if y has missing values
print("Missing values in y:", y.isnull().sum())

Missing values in y: 253680

In [17]:
# Drop rows where Diabetes_binary is missing
df = df.dropna(subset=["Diabetes_binary"])

# Reset index so it's clean
df = df.reset_index(drop=True)

# Check shape after cleaning
print("After removing NaNs → Rows:", df.shape[0], "  Columns:", df.shape[1])

After removing NaNs → Rows: 324372   Columns: 22

In [19]:
# Create X and y from the cleaned data
X = df.drop("Diabetes_binary", axis=1)
y = df["Diabetes_binary"]

In [21]:
# Check shapes of X and y
print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (324372, 21)
y shape: (324372,)

In [23]:
from sklearn.model_selection import train_test_split

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Print shapes
print("X_train:", X_train.shape)
print("y_train:", y_train.shape)
print("X_test:", X_test.shape)
print("y_test:", y_test.shape)

X_train: (227060, 21)
y_train: (227060,)
X_test: (97312, 21)
y_test: (97312,)